.box {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  overflow: hidden;
}

.box h1 {
  font-size: 1.3em;
  font-weight: bold;
}

.box p {
  padding: 1vh 0 10px;
}

.box a {
  color: #000;
}

.input {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  min-width: 300px;
  width: 50vw;
}