.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.body label {
    display: inline-block;
    padding: 24px 0 0 0;
}

.bio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box {
    align-items: center;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    padding: 2vh 2vw 4vh 2vw;
    text-align: center;
    width: 75vw;
}

.box a {
    color: #0047FF;
}

.box a:visited {
    color: #0047FF;
}

.box h1 {
    font-size: 1.2em;
    font-weight: bold;
}

.box h2 {
    padding: 5px;
}

.box p {
    font-size: .8em;
}

.left {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 10px;
    text-align: right;
}

.right {
    display: flex;
    flex-direction: column;
    flex-direction: flex-end;
    padding: 10px 0 0 0;
    text-align: right;
}

.bottom {
    display: flex;
    margin-left: -35px;
    width: fixed;
}

.desc {
    align-items: center;
    display: flex;
    margin-left: -1px;
    margin-top: -10px;
}

.desc label {
    font-size: 0.9em;
    margin-left: 10px;
    padding-bottom: 80px;
}

.descCalendar {
    align-items: center;
    display: flex;
    margin-left: 26px;
    margin-top: -10px;
}

.descCalendar label {
    font-size: 0.9em;
    margin-left: 10px;
    padding-bottom: 80px;
}

.bottomButton {
    align-self: center;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-between;
    min-width: 140px;
    padding: 10px 0 0 0;
    text-decoration: none;
    width: 40vw;
}

.button {
    background: none;
    border: none;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: .9em;
    font-weight: bold;
    margin-top: 12px;
    padding: 0;
    text-decoration: underline;
}

.input {
    border: 1px solid black;
    float: right;
    height: 20px;
    margin: 15px 0 0 0;
    padding: 5px;
    width: 13.5vw;
}

.checkBoxBody {
    margin-top: -10px;
}

.checkBox {
    margin: 0 0 0 -5px;
}

.bottomButton label {
    font-size: .9em;
    padding: 25px 0 0 10px;
}

.row label {
    font-size: 0.9em;
    padding-right: 10px;
}

.label {
    font-size: 1em;
}

.textarea {
    border: 1px solid black;
    height: 80px;
    margin-left: -1px;
    resize: none;
    width: 40vw;
}


@media screen and (min-width: 0px) and (max-width: 1170px) {
    .bio {
        flex-direction: column;
    }

    .right {
        padding: 0 10px 15px 0;
    }

    .right label {
        margin-left: 10px;
    }

    .left {
        padding: 10px 10px 0 10px;
    }

    .input {
        width: 20vw;
    }

    .textarea {
        padding: 5px;
        width: 20vw;
    }

    .bottomButton {
        float: right;
        margin: 100px -28.5vw 0 0;
        width: 21vw;
        width: 80vw;
    }

    .desc {
        float: right;
        margin-left: -17px;
    }

    .checkboxBody {
        margin: -12px 23px;
    }

    .bottom {
        float: right;
    }

    .textarea {
        margin-right: 10px;
        width: 20vw;
    }
}

@media screen and (min-width: 0px) and (max-width: 1330px) {
    .box {
        width: 65vw;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .bottomButton {
        flex-direction: column;
    }
}

@media screen and (min-width: 0px) and (max-width: 725px) {
    .box {
        width: 50vw;
    }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
    .box {
        width: 100vw;
    }

    .bottomButton {
        margin-right: -145px;
    }
}