.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 91vh;
}

.subBody {
  align-self: flex-end;
  width: calc(100vw - 130px);
}

.box {
  min-width: 250px;
  padding: 1vh 2vw 0 2vw;
  align-self: flex-start;
}

.box h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 1vh;
}

.box a {
  color: #000;
}

.box a:visited {
  color: #000;
}

.signature {
  padding: 30px 0 0 0;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .subBody {
    width: 100vw;
  }

  .box {
    width: 96vw;
  }
}