.wrapper h1 {
  font-size: 1.3em;
  font-weight: bold;
}

.wrapper p {
  padding: 1vh 0 10px 0;
}

.text textarea {
  background-color: #E8F1FD;
  border: 1px solid black;
  height: 12px;
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  resize: none;
  text-align: left;
  width: 20vw;
}

.button {
  background-color: #000 !important;
  border-radius: 0 !important;
  border: 1px solid black;
  box-shadow: none !important;
  color: #fff !important;
  font-family: 'Times New Roman' !important;
  font-size: .9em !important;
  letter-spacing: -0.03em !important;
  margin: 10px 0 40px 0 !important;
  padding: 3px 10px !important;
  text-transform: none !important;
}

.button:hover {
  background-color: #000000b7 !important;
}

.button:active {
  transform: translateY(4px) !important;
  transition: 60ms transform ease-in-out !important;
}