.Body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .Box {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    padding: 2vh 2vw 4vh 2vw;
    width: 40vw;
    line-height: 20px;
    min-width: 250px;
  }
  
  .Box p {
    padding: 20px 0 10px;
  }
  
  .Box h1 {
    font-weight: bold;
    padding-bottom: 1vh;
    font-size: 1.2em;
  }
  
  .Box a {
    color: #000;
  }
  
  .Input {
    display: flex;
    flex-direction: row;
  }
  
  .Text textarea {
    margin-top: 10px;
    border: 1px solid black;
    background-color: #E8F1FD;
    overflow: hidden;
    height: 12px;
    padding: 10px;
    resize: none;
    width: 20vw;
    text-align: left;
    justify-content: center;
  }
  
  .Button {
    color: #fff;
    background-color: black;
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif;
    font-size: .8em;
    padding: 8px 15px;
  }
  
  .buttonBody {
    padding: 10px 0 40px;
  }

  .buttonBody:last-child {
    padding: 10px 0 0;
  }