.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 20px;
  min-width: 250px;
  padding: 2vh 2vw 4vh 2vw;
  width: 40vw;
  letter-spacing: -0.03em;
}

.box p {
  padding: 20px 0 10px;
}

.box h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 1vh;
}

.box a {
  color: #000;
}

.input {
  display: flex;
  flex-direction: row;
}

.text textarea {
  background-color: #E8F1FD;
  border: 1px solid black;
  height: 12px;
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  padding: 10px;
  resize: none;
  text-align: left;
  width: 20vw;
}

.button {
  background-color: black;
  border: 1px solid black;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  letter-spacing: -0.03em;
  padding: 8px 15px;
}

.buttonBody {
  padding: 10px 0 40px;
}

.buttonBody:last-child {
  padding: 10px 0 0;
}
