.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.body label {
  display: inline-block;
  padding: 24px 0 0 0;
}

.box {
  align-items: center;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  padding: 2vh 2vw 4vh 2vw;
  text-align: center;
  width: 75vw;
}

.box a {
  color: #0047FF;
}

.box a:visited {
  color: #0047FF;
}

.box h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.box h2 {
  padding: 5px;
}

.box p {
  font-size: .8em;
  min-width: 250px;
}

.bio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.desc {
  align-items: center;
  display: flex;
  margin-left: -1px;
  margin-top: -10px;
  float: right;
}

.desc label {
  font-size: 0.9em;
  margin-left: 10px;
  padding-bottom: 80px;
}

.descCalendar {
  align-items: center;
  display: flex;
  margin-left: 26px;
  margin-top: -10px;
}

.descCalendar label {
  font-size: 0.9em;
  margin-left: 10px;
  padding-bottom: 80px;
}

.left {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 10px;
  text-align: right;
}

.right {
  display: flex;
  flex-direction: column;
  flex-direction: flex-end;
  padding: 10px 0 0 0;
  text-align: right;
}

.bottom {
  display: flex;
  width: fixed;
}

.bottomButton {
  align-content: center;
  /* border: 1px solid black; */
  float: right;
  /* padding: 10px 0 0 0; */
  text-decoration: none;
}

.button {
  background: none;
  border: none;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-size: .9em;
  font-weight: bold;
  padding: 0;
  text-decoration: underline;
}

.input {
  border: 1px solid black;
  float: right;
  height: 20px;
  margin: 15px 0 0 0;
  padding: 5px;
  width: 13.5vw;
}

.row{
  min-width: 290px;
}

.row label {
  font-size: 0.9em;
  padding-right: 10px;
}

.label {
  font-size: 1em;
}

.textarea {
  border: 1px solid black;
  height: 80px;
  margin-left: -1px;
  resize: none;
  width: 40vw;
}

@media screen and (min-width: 0px) and (max-width: 1290px) {
  .bio {
    flex-direction: column;
  }

  .right {
    padding: 0 10px 15px 0;
  }

  .right label {
    margin-left: 10px;
  }

  .left {
    padding: 10px 10px 0 10px;
  }

  .input {
    width: 20vw;
  }

  .textarea {
    padding: 5px;
    width: 20vw;
  }

  .bottomButton {
    padding: 10px 45px;
    width: 1vw;
  }

  .contactDesc {
    float: right;
    margin-left: -17px;
  }

  .checkboxBody {
    margin: -12px 23px;

  }
  .desc{
    margin-left: auto;
    margin-right: 10px;
  }
  .descCalendar{
    margin-left: auto;
    margin-right: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1330px) {
  .box {
    width: 65vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 725px) {
  .box {
    margin-left: -4vw;
    width: 35vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .box {
    width: 100vw;
  }
}