.body div {
  border-radius: 0;
  font-family: 'Times New Roman', Times, serif;
}

.body label {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  margin: 0px 0px 0px 0px;
}

.datePicker {
  display: block;
  width: 100%;
}

.button {
  background-color: #000;
  border: 1px solid black;
  color: #fff;
  float: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: .9em;
  margin: -30px 0 0 0;
  padding: 5px 10px;
}

.button:hover {
  background-color: #000000b7;
  border: 1px solid #000000b7;
}

.button:active {
  transform: translateY(4px);
  transition: 60ms transform ease-in-out;
}

.max {
  color: #d32f2f;
}