.wrapper div {
  border-radius: 0;
  font-family: 'Times New Roman', Times, serif;
}

.wrapper label {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  margin: 0px 0px 0px 0px;
}

.datePicker {
  display: block;
  width: 100%;
}

.button {
  background-color: rgb(239, 239, 239);
  border: 1px solid #000;
  color: #000;
  float: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: .9em;
  margin: -30px 0 0 0;
  padding: 5px 10px;
}

.button:hover {
  background-color: rgb(199, 199, 199);
}

.button:active {
  transform: translateY(4px);
  transition: 60ms transform ease-in-out;
}

.max {
  color: #d32f2f;
}

.checkBox {
  float: left;
  appearance: none;
  border: 1px solid black;
  font: inherit;
  height: 1em;
  margin: 2px 5px 0 8px;
  transform: translateY(-0.1em);
  width: 1em;
  display: grid;
  place-content: center;
}

.checkBox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(#000);
  background-color: CanvasText;
}

.checkBox:hover {
  border: 1.5px solid black;
}

.checkBox:checked::before {
  transform: scale(1);
}