@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
s var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

a img {
  border: none;
}

/* END RESET */
:root {
  box-sizing: border-box;
  letter-spacing: -0.03em;
}

p {
  line-height: 20px;
}

#MobileLogin {
  display: none;
}

#hide {
  display: none;
}

/* Clerk */
.cl-modalBackdrop {
  font-family: Helvetica;
}

.cl-userButton-popover {
  font-family: Helvetica;
}

/* MuiForm */
.MuiFormHelperText-root.Mui-error p {
  margin-left: 14px !important;
}

.helperText {
  margin-left: 14px !important;
}

.MuiAutocomplete-option {
  font-family: "Times New Roman", Times, serif;
}

.MuiAutocomplete-noOptions {
  font-family: "Times New Roman", Times, serif !important;
}

.MuiAutocomplete-option.Mui-focused {
  background-color: rgba(25, 118, 210, 0.04) !important;
}

/* MuiBox */
.MuiAlertTitle-root {
  font-family: "Times New Roman", Times, serif !important;
}

.MuiAlert-standard {
  background-color: rgba(25, 118, 210, 0.04) !important;
  color: #000 !important;
}

.MuiAlert-standard a {
  color: #000;
}

.MuiAlert-standard a:visited {
  color: #000;
}

.MuiAlert-icon {
  color: #000 !important;
}

/* MuiList */
.MuiList-root li {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
}

.MuiList-root li:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.MuiList-root li.Mui-focusVisible {
  background-color: rgba(25, 118, 210, 0.04);
}

.MuiList-root li.Mui-selected.Mui-focusVisible {
  background-color: rgba(25, 118, 210, 0.04);
}

.MuiList-root li.Mui-selected:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.MuiTouchRipple-root {
  color: #ffffff00;
}

.MuiList-root li.Mui-selected {
  background-color: #fff;
  font-weight: bold;
}

/* MuiAlert */
.MuiDialog-paper {
  border-radius: 4px !important;
}

.MuiDialogContent-root p {
  font-family: "Times New Roman", Times, serif !important;
  letter-spacing: -0.03em !important;
  font-family: "Times New Roman", Times, serif !important;
  color: #000 !important;
}

.MuiDialogTitle-root {
  font-weight: bold !important;
  letter-spacing: -0.03em !important;
  font-family: "Times New Roman", Times, serif !important;
}

.MuiDialogActions-root button {
  height: 30px;
  background-color: rgb(239, 239, 239) !important;
  border-radius: 4px;
  font-size: 0.8em;
  border: 1px solid #000 !important;
  color: #000 !important;
  text-transform: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.MuiDialogActions-root button:hover {
  background-color: rgb(220, 220, 220) !important;
}

.MuiDialogActions-root button:hover {
  background-color: #00000000;
}

/* UploadCare */
.uploadcare--widget__button.uploadcare--widget__button_type_open {
  color: #000;
  text-decoration: underline;
  margin: 0 0 0 -10px;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open:hover {
  background-color: #F4F4FE;
  cursor: pointer;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open:active{
  background-color: #F4F4FE;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open:focus{
  background-color: #F4F4FE;
}

/* MEDIA QUERIES */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media screen and (min-width: 0px) and (max-width: 570px) {
  #MobileLogin {
    display: list-item;
  }
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .subBody {
    width: 100vw;
  }

  .box {
    width: 100vw;
  }
}
