html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

a img {
  border: none;
}

/* END RESET */

:root {
  box-sizing: border-box
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.subBody {
  align-self: flex-end;
  width: 90vw;
}

.box {
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#MobileLogin {
  display: none;
}

#hide{
  display: none;
}

/* MUI Styles */
/* 
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #000!important;
} */

/* .css-1qs309j-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #000!important;
} */

/* .css-1qs309j-MuiButtonBase-root-MuiPickersDay-root:hover{
  background-color: rgba(0, 0, 0, 0.207)!important;
} */

/* .css-7oawqu-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: rgba(0, 0, 0, 0.207)!important;
} */

/* .MuiPickersDay-root {
  font-family: 'Times New Roman', Times, serif !important;
} */

/* .css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{
  font-family: 'Times New Roman', Times, serif !important;
} */

/* .MuiOutlinedInput-root {
  border-color: black;
  border-radius: 1px;
} */
/* 
.MuiPaper-root li{
  font-family: 'Times New Roman', Times, serif;
} */

/* .menuitem.Mui-selected.Mui-selected{
  background-color: white;
  text-decoration: underline;
  font-weight: bold;
} */

.MuiPickersCalendarHeader-label {
  font-family: 'Times New Roman', Times, serif;
}

.MuiPickersYear-root button {
  font-family: 'Times New Roman', Times, serif;
}

.MuiTypography-root-MuiDayCalendar-weekDayLabel{
  font-family: 'Times New Roman', Times, serif;
}

/* .MuiPickersDay-today.Mui-selected {
  background-color: red;
} */

/* MUI Select */

/* .MuiList-root li.MuiOutlinedInput-inpt{
  color: red;
} */

.MuiList-root li{
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
}

.MuiList-root li.Mui-focusVisible {
  background-color: #fff;
}

.MuiList-root li.Mui-selected:hover {
  background-color: #fff;
  font-size: large;
}

.MuiTouchRipple-root {
  color: #ffffff00;
}

.MuiList-root li.Mui-selected {
  background-color: #fff!important;
  font-weight: bold;
  text-decoration: underline;
}

.MuiList-root li:hover{
  background-color: #fff;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media screen and (min-width: 0px) and (max-width: 570px) {
  #MobileLogin {
    display: list-item;
  }
}

@media screen and (min-width: 0px) and (max-width: 1330px) {
  .subBody {
    width: 85vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 725px) {
  .subBody {
    width: 70vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .subBody {
    width: 100vw;
  }
  .box {
    width: 100vw;
  }
}
