.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: black;
  z-index: 0;
}

.background {
  border: none;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  z-index: -20;
}