.box {
  display: flex;
  flex-direction: column;
  max-width: 2050px;
  padding: 0 0 40px 0;
}

.box:first-child h1 {
  font-size: 1.3em;
}

.box h1 {
  font-size: 1em;
  font-weight: bold;
}

.box p {
  padding: 10px 0;
}

.box ul {
  line-height: 20px;
  padding: 0 0 0 20px;
}

.box a {
  color: #000;
}

.box button {
  background-color: rgb(239, 239, 239);
  border: 1px solid #000;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-size: .9em;
  padding: 7px 10px;
}

.box button:hover {
  background-color: rgb(199, 199, 199) !important;
}

.box button:active {
  transform: translateY(4px);
  transition: 60ms transform ease-in-out;
}

.joinButton button {
  border-radius: 0;
  text-transform: none;
  letter-spacing: -0.03em;
  padding: 3px 10px;
}

.button {
  background-color: rgb(239, 239, 239) !important;
  border: 1px solid #000 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #000 !important;
  font-family: 'Times New Roman' !important;
  font-size: .9em !important;
  letter-spacing: -0.03em !important;
  padding: 3px 10px !important;
  text-transform: none !important;
}

.button:hover {
  background-color: rgb(199, 199, 199) !important;
}

.button:active {
  transform: translateY(4px) !important;
  transition: 60ms transform ease-in-out !important;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 2050px;
}

.title p {
  min-width: 200px;
  padding: 6px 10px 0 0;
}

.border {
  border-bottom: 2px dotted black;
  border-image-repeat: round;
  flex: 1;
  margin: 10px 0 -30px;
}