.box p {
  align-self: center;
  padding-bottom: 5px;
}

.box h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 20px;
}

.inputBox {
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
}

.inputBox label {
  align-self: center;
  min-width: 135px;
  padding-left: 10px;
}

.input {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 62px;
}

.input::placeholder {
  color: black;
}

.buttonBody {
  padding: 10px 0 20px;
}

.button {
  align-self: center;
  background-color: black;
  border: 1px solid black;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  width: 230px;
}

.bottom {
  max-width: 370px;
}