.box {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70vh;
  justify-content: center;
  padding: 2vh 2vw 2vh 2vw;
}

.box img {
  height: 5vh;
  padding-left: 4vw;
  width: auto;
}

@media screen and (min-width: 0px) and (max-width: 570px) {
  .box img:last-child {
    padding-right: 4vw;
  }
}