.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 75vw;
  justify-content: center;
  padding: 2vh 2vw 2vh 2vw;
}

.box h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 1330px) {
  .box {
    width: 65vw;
  }
  }

@media screen and (min-width: 0px) and (max-width: 725px) {
.box {
  width: 35vw;
}
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .box {
    width: 100vw;
  }
  }