.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 130px;
  padding-top: calc(20vh - 60px);
}

.box {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 2vh 2vw 2vh 2vw;
}

.box h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.box h2 {
  padding: 5px 0 0 0;
}

.box p {
  font-size: .8em;
  padding: 0 0 5px 0;
  text-align: left;
}

.box a {
  color: #000;
}

.box a:visited {
  color: #000;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .body {
    margin: 2vw;
  }
}