.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 130px;
  padding-top: calc(20vh - 60px);
}

.directoryWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 130px;
  padding-top: calc(20vh - 100px);
}

.box {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 2vh 2vw 50px 2vw;
}

.box h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.delete {
  margin: -57px 0 0 auto;
}

@media screen and (min-width: 845px) {
  .delete {
    margin: -57px 0 0 520px;
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .wrapper {
    margin: 2vw;
  }

  .directoryWrapper {
    margin: 2vw;
  }
}