.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px 2vw;
  text-align: left;
  width: 50vw;
}

.box:first-child {
  padding-top: 2vh;
}

.box h1 {
  font-size: 1em;
  font-weight: bold;
}

.box:first-child h1 {
  font-size: 1.3em;
}

.box p {
  letter-spacing: -0.03em;
  line-height: 20px;
  padding: 10px 0;
}

.box ul {
  letter-spacing: -0.03em;
  line-height: 20px;
  padding-left: 20px;
}

.box button {
  align-self: center;
  background-color: #000;
  border: 1px solid black;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: .8em;
  padding: 7px 10px;
  width: auto;
}

.box a {
  color: #000;
}

.border {
  border-bottom: 2px dotted black;
  border-image-repeat: round;
  flex: 1;
  margin: 10px 0 -30px;
  max-width: 500px;
  width: 50vw;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  width: 50vw;
}


@media screen and (min-width: 0px) and (max-width: 500px) {
  .header {
    width: 70vw;
  }

  .border {
    width: 70vw;
  }

  .box {
    width: 70vw;
  }
}