.bodyHome {
  color: #fff;
  padding: 1vh 0 0 0;
  text-align: center;
}

.bodyHome h2 {
  font-size: 1.5em;
}

.body {
  color: #000;
  margin: calc(-20px - 2vh) 0 0 0;
  padding: 1vh 0 0 0;
  text-align: center;
}

.body h2 {
  display: none;
}