.bodyHome {
  color: #fff;
  padding-top: 1vh;
  text-align: center;
}

.bodyHome h2 {
  font-size: 1.5em;
}

.body {
  color: #000;
  padding-top: 1vh;
  text-align: center;
}

.body h2 {
  display: none;
}