.items ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 10vw;
  top: 0;
  position: fixed;
  padding: 50px 1vw 0 0;
  /* background-color: grey; */
  line-height: 13px;
  font-size: 1em;
  /* letter-spacing: -0.03em; */
  /* background-color: #fff; */
  /* max-width: 99px; */
}

.items li {
  padding: 0 2vw 1em 2vw;
}

.items a {
  color: #000;
}

.items hr {
  display: none;
}

.active {
  font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 1330px) {
  .items ul {
    width: 15vw;
  }
  }

  @media screen and (min-width: 0px) and (max-width: 725px) {
    .items ul {
      width: 30vw;
    }
    }

@media screen and (min-width: 0px) and (max-width: 450px) {
  .items {
    display: block;
  }
  .items ul {
    justify-content: space-between;
    position: relative;
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    padding: 20px 0 30px;
    height: 5vh;
    /* border: 1px solid black; */
    width: 100vw;
  }
  }


  
  @media screen and (min-width: 0px) and (max-width: 350px) {
    .items ul {
      padding: 10px 0 70px;
    }
    }

    @media screen and (min-width: 0px) and (max-width: 270px) {
      .items ul {
        padding: 10px 0 100px;
      }
      }







      /**/

      /* @media screen and (min-width: 0px) and (max-width: 570px) {
        #MobileLogin {
          display: list-item;
        }
      }
      
      @media screen and (min-width: 0px) and (max-width: 1000px) {
      .subBody {
        width: 80vw;
      }
      }
      
      @media screen and (min-width: 0px) and (max-width: 450px) {
        .subBody {
          width: 100vw;
        }
        } */