.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .subBody {
    width: 100vw;
  }

  .box {
    width: 100vw;
  }
}