.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.subBody {
  align-self: flex-end;
  width: calc(100vw - 130px);
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 130px;
  height: 80vh;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .subBody {
    width: 100vw;
  }

  .box {
    width: 100vw;
  }
}