.header h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0 0 1vh 0;
  text-decoration: underline;
}

.header p {
  padding: 0 0 20px 0;
}

.header a {
  color: #0047FF;
}

.header a:visited {
  color: #0047FF;
}

.date {
  color: #000;
}

.date:hover {
  cursor: pointer;
}

.dateGroup {
  margin: 0 0 10px 0;
}

.dateGroup a {
  color: #000;
}

.bottom {
  padding-bottom: 20px;
}

.add a {
  color: #0047FF;
}

.add {
  width: 130px;
}

.spacer {
  height: 5px;
}

.eventRow {
  padding: 10px 50px;
  text-align: left;
  width: 50vw;
}

.eventRow hr {
  border: 0;
}

.eventSocialsBody {
  margin: 0 0 0 -5px;
  padding: 5px 0 0 0;
  width: 130px;
}

.mail svg {
  margin-bottom: -2px;
}

.whatsapp svg {
  padding-left: 3px;
}

.mainEvent {
  color: #000;
  text-decoration: none;
}

.mainEvent strong {
  color: #0047FF;
  text-decoration: underline;
}