.body {
  clear: both;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.box {
  flex-grow: 1;
  letter-spacing: -0.03em;
  min-height: 2em;
  overflow: auto;
  padding: 2vh 2vw 2vh;
}

.box hr {
  border: none;
}

.box p {
  padding-bottom: 20px;
}

.bio {
  max-width: 600px;
  padding-bottom: 1vh;
  text-align: left;
  width: 50vw;
}

.bio p {
  font-size: 1em;
  padding-bottom: 20px;
}

.bio a {
  color: #0047FF;
}

.bio a:visited {
  color: #0047FF;
}

.header h1 {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: -0.03em;
  padding-bottom: 1vh;
  text-decoration: underline;
}

.date {
  color: #0047FF;
  font-size: 1.1rem;
  text-align: left;
  text-decoration: none;
}

.dateGroup {
  margin-bottom: 10px;
}

.dateGroup a:first-child {
  text-decoration-color: #0047FF;
}

.add a {
  color: #0047FF;
  font-size: 1em;
  padding-bottom: 20px;
}

.bottom {
  padding-bottom: 20px;
}

.eventBody {
  display: flex;
  flex-direction: column;
  float: left;
  min-height: 70vh;
}

.eventBody h1 {
  font-size: 1.2em;
}

.eventBody a {
  font-weight: bold;
}

.eventHeader {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: space-between;
  padding-bottom: 20px;
}

.eventRow {
  padding: 10px 50px;
  text-align: left;

}

.eventRow hr {
  border: 0;
}

.eventSocialsBody {
  padding-top: 10px;
}

.eventSocials {
  filter: grayscale(100%);
  padding-right: 5px;
}

.mainEvent {
  color: #000;
  text-decoration: none;
}

.spacer {
  height: 5px;
}

.eventInfo {
  max-width: 200px;
}

.map img {
  height: 30vh;
  min-height: 300px;
  min-width: 300px;
}

/* 
.mainEvent strong {
  text-decoration: underline;
} */