.wrapper {
  flex-grow: 1;
  overflow: auto;
  width: 80vw;
  overflow: hidden;
}

.wrapper h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 0 20px 0;
}

.wrapper p {
  padding-bottom: 20px;
}

.wrapper a {
  font-weight: bold;
}

.map {
  height: 40vw;
  max-height: 500px;
  max-width: 500px;
  min-height: 270px;
  min-width: 270px;
  width: 40vw;
}

.spacer {
  height: 5px;
}

.button {
  height: 30px;
  background-color: #000 !important;
  border-radius: 0 !important;
  border: 1px solid black;
  box-shadow: none !important;
  color: #fff !important;
  font-family: 'Times New Roman' !important;
  font-size: .9em !important;
  letter-spacing: -0.03em !important;
  margin: 10px 10px 0px 0 !important;
  padding: 3px 10px !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.button:hover {
  background-color: #000000b7 !important;
}

.button:active {
  transform: translateY(4px) !important;
  transition: 60ms transform ease-in-out !important;
}

.buttonWrapper {
  display: flex;
  flex-flow: row wrap;
}