.header {
  display: flex;
  flex-direction: column;
  padding: 0 0 2vh 0;
  text-align: left;
}

.header h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0 0 1vh 0;
  text-decoration: underline;
}

.header a {
  color: #0047FF;
}

.header a:visited {
  color: #0047FF;
}

.box {
  align-content: center;
  column-count: 3;
  width: calc(96vw - 130px);
}

.box a {
  color: #000;
  font-size: .9em;
  padding: 3px 10px 0 0;
  text-decoration: none;
}

.box a:visited {
  color: #000;
}

.box p {
  padding: 3px 0;
}

.search {
  width: calc(96vw - 132px);
}

.input {
  border: 1px solid black;
  float: right;
  font-family: 'Times New Roman', Times, serif;
  font-size: .9em;
  margin: -55px 0 0 0;
  max-width: 365px;
  min-width: 240px;
  padding: 5px;
  top: 0;
  width: calc(50vw - 130px);
}

.input::placeholder {
  color: #000;
}

.contact {
  break-inside: avoid;
  padding: 0 0 10px 0;
}

.contact h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0;
  text-align: left;
}

.items {
  display: flex;
}

.border {
  border-bottom: 2px dotted black;
  flex: 1;
  margin: 0px 3px 6px 3px;
}

.spacer {
  flex: 1;
}


.button {
  background-color: rgb(239, 239, 239) !important;
  border-radius: 0 !important;
  border: 1px solid #000 !important;
  box-shadow: none !important;
  color: #000 !important;
  font-family: 'Times New Roman' !important;
  font-size: .9em !important;
  height: 30px;
  letter-spacing: -0.03em !important;
  margin: 10px 10px 0px 0 !important;
  padding: 3px 10px !important;
  text-transform: none !important;
  width: 130px !important;
}

.button:hover {
  background-color: rgb(199, 199, 199) !important;
}

.button:active {
  transform: translateY(4px) !important;
  transition: 60ms transform ease-in-out !important;
}

@media screen and (min-width: 0px) and (max-width: 1420px) {
  .box {
    column-count: 2;
  }
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .box {
    column-count: 1;
  }

  .header {
    padding: 0 0 20px 0;
  }

  .search {
    height: 60px;
  }

  .input {
    float: left;
    margin: 0 0 2vh 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .box {
    width: auto;
  }
}