.body {
  clear: both;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.body input {
  position: relative;
  width: 50vw;
  border: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
  font-size: .9em;
  margin: 2vh 0;
  max-width: 300px;
  padding: 5px;
  top: 0;
}

.body input::placeholder {
  color: #000;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0 2vw 0vh;
  justify-content: center;
  text-align: left;
  width: 50vw;
  letter-spacing: -0.03em;
}

.header h1 {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 2vh;
  text-decoration: underline;
  
}

.header p {
  padding-top: 1vh;
  max-width: 600px;
  /* text-align: center; */
}

.header a {
  color: #0047FF;
}

.header a:visited {
  color: #0047FF;
}

.box {
  align-content: center;
  column-count: 3;
  padding: 0 0 1vh 0;
  text-align: center;
  width: 98.5%;
  letter-spacing: -0.03em;
}

.box a {
  color: #000;
}

.box a:visited {
  color: #000;
}

.box h1 {
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.box h2 {
  padding: 5px;

}

.box p {
  font-size: .8em;
}

.contact {
  break-inside: avoid;
  padding: 3px 2vw;
}

.title {
  direction: "row";
  display: flex;
}

.name {
  padding: 3px 0;
}

.border {
  border-bottom: 10px dotted black;
  border-image-repeat: round;
  border-image-slice: 33% 33%;
  border-image-source: url('../../../public/Images/dots.svg');
  border-image-width: 3.4px 0 0 0;
  border-image-outset: 0;
  margin-top: 14px;
  flex: 1;
}

.spacer {
  flex: 1;
}

.email {
  padding: 3px;
}

.linksStack {
  direction: row;
  display: flex;
}

.linksStack p {
  margin-right: 10px;
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .box {
    column-count: 2;
  }
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .box {
    column-count: 1;
  }

}

/* @media screen and (min-width: 0px) and (max-width: 790px) {
  .body */