.body {
  color: #000;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vh 0 20px;
  width: 100vw;
  font-family: 'Times New Roman', Times, serif;
}

.body a{
  color: #000;
}

.body a:visited{
  color: #000;
}

.bodyHome {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-top: 2vh;
  width: 100vw;
}

.bodyHome a{
  color: #fff;
}

.bodyHome a:visited{
  color: #fff;
}

.logo a{
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.login{
  position: absolute;
  right: 2vw;
}

.active {
  font-weight: bold;
}

/* .cl-internal{
  font-family: Helvetica!important;
} */

@media screen and (min-width: 0px) and (max-width: 570px) {
  .login {
    display: none;
  }
}