.items {
  align-items: center;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  padding: 10%;
  max-height: 300px;
  /* border: 1px solid white; */
}

.items ul{
  padding-top: 40px;
}

.items li {
  color: #fff;
  display: list-item;
  padding-top: 3vh;
}

.items a {
  color: #fff;
}