.wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-top: auto;
  padding-bottom: 1em;
  padding-top: 2em;
}

.wrapperHome {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  bottom: 1em;
}

.socials {
  align-self: flex-end;
  margin-left: auto;
  padding-right: 2vw;
}

.socials ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.socials li {
  margin-left: -5px;
}

.socials li:last-child {
  padding-left: 14px;
}

.break {
  display: inline-block;
}

.editButton {
  /* display: fixed; */
  position: fixed;
  margin: 0 0 0 2vw;
  bottom: 1em;
}

.editButton button {
  background-color: #000 !important;
  border-radius: 0 !important;
  border: 1px solid black;
  box-shadow: none !important;
  color: #fff !important;
  font-family: 'Times New Roman' !important;
  font-size: .9em !important;
  letter-spacing: -0.03em !important;
  padding: 3px 10px !important;
  text-transform: none !important;
}

.editButton button:hover {
  background-color: #000000b7 !important;
}

.editButton button:active {
  transform: translateY(4px) !important;
  transition: 60ms transform ease-in-out !important;
}