.body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-top: auto;
  padding-bottom: 1em;
  padding-top: 2em;
  z-index: 201;
}

.stickyBody {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 -8px 20px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  font-size: 1em;
  left: 0;
  padding-bottom: 1em;
  padding-top: .5em;
  position: fixed;
  width: 100vw;
}

.legal {
  margin-bottom: -2em;
  padding-left: 2vw;
  padding-top: 2em;
  width: 68%;
}

.legal hr {
  border: 0;
  flex-basis: 100%;
  height: 0;
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
}

.legal a {
  color: #0047FF;
}

.legal a:visited {
  color: #0047FF;
}

.legal em {
  font-style: normal;
  font-weight: bold;
}

.homeNav {
  display: none;
}

.nav {
  display: inline-block;
}

.legalHome {
  color: #fff;
  margin-bottom: -2em;
  padding-left: 2vw;
  padding-top: 2em;
  width: 68%;
}

.legalHome hr {
  border: 0;
  flex-basis: 100%;
  height: 0;
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
}

.legalHome p{
  padding-bottom: 2px;
}

.legal p{
  padding-bottom: 2px;
}

.legalHome a {
  color: #fff;
}

.legalHome em {
  font-style: normal;
  font-weight: bold;
}

.socials {
  align-self: flex-end;
  margin-left: auto;
  padding-right: 2vw;
}

.socials ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style: none;
  width: 15%;
}

.socials img {
  list-style: none;
  opacity: 0.8;
  padding-left: 1em;
  padding-top: 1em;
  width: auto;
}

.socials img {
  height: 1em;
}

.break {
  display: inline-block;
}

@media only screen and (max-height: 540px) {
  .legal a {
    font-size: 1em;
  }

  .legalHome a {
    font-size: 1em;
  }

}

@media screen and (min-width: 0px) and (max-width: 570px) {
  .legal hr {
    border: 0;
    display: block;
    flex-basis: 100%;
    height: 0;
    margin: 0;
    width: 100%;
  }

  .legalHome hr {
    border: 0;
    display: block;
    flex-basis: 100%;
    height: 0;
    margin: 0;
    width: 100%;
  }
}