.items ul {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 96vw;
  flex-flow: row wrap;
  justify-content: center;
}

.items li {
  padding: 1vh 2vw 1vh 0;
}

.items a:hover {
  font-weight: bold;
}

.items a {
  color: #000;
  text-decoration: none;
}

.container {
  padding: 1vh 0 2vh 0;
}

.active {
  font-weight: bold;
  text-decoration: underline !important;
}

#MobileLogin {
  display: none;
}

#menuBtn {
  position: fixed;
  top: 1vh;
  left: 2vw;
  z-index: 2;
}

.mobileMenu {
  display: none;
}

#hide {
  display: none;
}

@media (min-width: 575px) {
  #menuBtn {
    display: none;
  }
}