.items ul {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 13px;
  list-style: none;
  padding: calc(4vh + 47px) 1vw 0 0;
  position: fixed;
  top: 0;
  width: 130px;
  /* transition: all 2s ease-in-out; */

}

.items li {
  padding: 0 0 1em 2vw;
}

.items a:hover {
  /* opacity: 60%; */
  /* font-size: 1.2em; */
  /* text-decoration: underline; */
  font-weight: bold;

}

.items a {
  color: #000;
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline !important;
}

#MobileLogin {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .items {
    display: block;
  }

  .items ul {
    display: flex;
    flex-flow: row wrap;
    height: 5vh;
    /* justify-content: ; */
    /* justify-content: space-between; */
    padding: 20px 0 30px 0;
    position: relative;
    width: 98vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 323px) {
  .items ul {
    padding-bottom: 60px;
  }
}