.items ul {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 13px;
  list-style: none;
  padding: calc(4vh + 47px) 1vw 0 0;
  position: fixed;
  top: 0;
  width: 130px;
}

.items li {
  padding: 0 0 1em 2vw;
}

.items a:hover {
  font-weight: bold;
}

.items a {
  color: #000;
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline !important;
}

#MobileLogin {
  display: none;
}

#menuBtn {
  position: fixed;
  top: 1vh;
  left: 2vw;
  z-index: 2;
}

.mobileMenu {
  display: none;
}

#hide {
  display: none;
}

@media (min-width: 450px) {
  #menuBtn {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 323px) {
  .items ul {
    padding-bottom: 60px;
  }
}